#room-background {
    background: url(https://i.imgur.com/H7sQattr.jpg) fixed center / cover !important;
}

/*#####[HOST]#####*/
.icon-chat-host {
	background: url(http://icons.iconarchive.com/icons/morcha/rainbow/16/Red-icon.png);
	background-position: 2px 0 !important;
}
.icon-chat-host + span,
#user-lists .group.host ~ .user span,
#dialog-user-role .role-menu .menu ul .host span {
	color: #DD2C00 !important;
}
#user-lists .group.host {
	color: #DD2C00;
	top: 1px;
}
/*#####[CO-HOSTS]#####*/
.icon-chat-cohost {
	background: url(http://icons.iconarchive.com/icons/morcha/rainbow/16/Red-icon.png);
	background-position: 2px 0 !important;
}
.icon-chat-cohost + span,
#dialog-user-role .dialog-body .role-menu .menu ul .cohost span {
	color: #DD2C00 !important;
}
/*#####[MANAGER]#####*/
.icon-chat-manager {
	background: url(http://icons.iconarchive.com/icons/morcha/rainbow/16/Blue-icon.png);
	background-position: 2px 0 !important;
}
.icon-chat-manager + span,
#user-lists .group.manager ~ .user span,
#dialog-user-role .role-menu .menu ul .manager span {
	color: #2538E6 !important;
}
#user-lists .group.manager {
	color: #2538E6;
}
/*#####[BOUNCER]#####*/
.icon-chat-bouncer {
	background: url(http://icons.iconarchive.com/icons/morcha/rainbow/16/Yellow-icon.png);
	background-position: 1px 0 !important;
}
.icon-chat-bouncer + span,
#user-lists .group.bouncer ~ .user span,
#dialog-user-role .role-menu .menu ul .bouncer span {
	color: #FACC2E !important;
}
#user-lists .group.bouncer {
	color: #FACC2E;
}
/*#####[DJ]#####*/
.icon-chat-dj {
	background: url(http://icons.iconarchive.com/icons/morcha/rainbow/16/Green-icon.png);
	background-position: 0 0 !important;
}
#user-lists .group.dj {
	color: #00BB0A;
}
.icon-chat-dj + span,
#user-lists .group.dj ~ .user span,
#dialog-user-role .role-menu .menu ul .dj span {
	color: #00BB0A !important;

/*####[Store Badge]####*/
}
.user-content .avatars .grid .cell .top {
	background: linear-gradient(rgba(0,0,0,0)100%, hsla(210,10%,80%,0.2) 80%), url(http://i.imgur.com/j7fnxpL.gif);
	box-shadow: inset 0 0 40px #000;
}
.user-content .avatars .cell:hover .top, .user-content .avatars .cell.selected .top {
	background: linear-gradient(rgba(0,0,0,0)70%, hsla(0,0%,100%,0.2) 80%),
	url(http://i.imgur.com/j7fnxpL.gif);
}
.user-content .badges .cell {
	background: radial-gradient(hsl(210,10%,10%), hsl(210,10%,5%)), url(http://i.imgur.com/j7fnxpL.gif) !important;
	box-shadow: inset 0 0 30px #000;
}
.user-content .badges .cell:hover {
	background: url(http://i.imgur.com/j7fnxpL.gif) 0 -12px no-repeat !important;
	box-shadow: 0 0 10px #000;
}
